<link rel="stylesheet" href="styles/classes.css">
<div class="row" style="margin-top: 100px;">
    <div class="col">
        {{#each folders}}
        <h3>{{folder}}</h3>
        <div class="folderContainer">
                {{#each vids}}
                <a href="/classes?videoId={{vidId}}"><img src="{{thumbnail_src}}" width="100%" height="100%"></a>
                {{/each}}
        </div>
        {{/each}}
    </div>
</div>