<div class="row" style="margin-top: 200px;">
    <div class="col" style="align-items: center;">
        <form action="/course/enroll" method="POST">
            {{#if justClient}}
                <button>Inscrever-me</button>
                {{#if message}}
                    <span style="color: green;">{{message}}</span>
                {{else}}
                    {{#if error}}
                        <span style="color: red;">{{error.message}}</span>
                    {{/if}}  
                {{/if}}   
            {{/if}} 
        </form>
        {{#if user.status.owner}}
            <form action="/enrollmentRequests" method="GET">
                <button>Pedidos de Inscrição</button>
            </form>
        {{/if}} 
    </div>
</div>
<!--<script async src="//www.instagram.com/embed.js"></script>-->