<link rel="stylesheet" href="styles/enrollment-requests.css">

<div class="col requests-container">
    {{#each enrollmentRequests}}
        <div class="row request">
            <div class="row user-info-col">
                <p>
                    <span class="tag-name">Nome </span> 
                    <span class="tag-info">{{name}}</span>
                </p>
                <p>
                    <span class="tag-email">Email </span> 
                    <span class="tag-info"> {{email}}</span> 
                </p>
            </div>
            <div class="col form-col">
                <form action="/enrollmentRequests/accept/{{email}}" method="POST">
                    <button class="accept-request-button">Aceitar Inscrição</button>  
                </form>
            </div>
        </div>  
    {{/each}}  
</div>