<link rel="stylesheet" href="styles/authentication.css">

<div class="col" style="align-items:center; margin-top: 200px">
    <hr style="color: white; width:100%">
    {{#each enrollmentRequests}}
        <div class="row" style="width: 100%;">
            <div class="col">
                <span>Nome: {{name}}</span>
                <span>Email: {{email}}</span>
            </div>
            <div class="col">
                <form action="/enrollmentRequests/accept/{{email}}" method="POST">
                <button>Aceitar Inscrição</button>  
                </form>
            </div>
        </div>  
        <hr style="color: white; width:100%">  
    {{/each}}  
    
</div>