<link rel="stylesheet" href="styles/error.css">
<div class="col error-container">
    <div class="row">
        <p class="error">{{error.code}} {{error.description}}</p>  
    </div>
    <div class="row">
        <p class="message">{{error.message}}</p>
    </div>
      
</div>
