<h1>Profissionais</h1>
<div class="container-card">
    <div class="card-of-professional">
        <div class="front" style="background-image: url(/imgs/Me.png)"></div>
        <div class="back">
            <h5> Jhonne Barbeiro </h5>
            <p class="card-text"> Formador de novos barbeiros</p>
        </div>
    </div>
</div>