{{#each schedules.trending}}
    <div class="col" style="border:1px">
        <div class="row">
            <div class="col">
                <div class="row">
                    {{name}}
                </div>
                <div class="row">
                    {{duration}}
                </div>
            </div>
            <div class="col">
                <div class="row">
                    {{price}}
                </div>
            </div>
        </div>
        <div class="row">
            {{description}}
        </div>
    </div>
{{/each}}