<link rel="stylesheet" href="styles/authentication.css">

<div class="row authentication-page-container">
    <div class="col authentication-container">
        <div class="row">
            <a href="/">
                <img class="authentication-img" src="imgs/brand.png">
            </a>
        </div>
        <div class="row formDiv">
            {{#if error}}
                <span class="error">{{error.message}}</span>
            {{/if}}
            <form action="/signup{{redirectUrl}}" method="POST">
                <div>
                    <label for="username">Nome</label>
                    <br>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password" id="password" required>
                </div>
                <br>
                <button type="submit">Sign Up</button>
            </form>
            <span class="question">Já tem uma conta?</span>
            <hr class="separation">
            <a href="/login{{redirectUrl}}">Entrar</a>
        </div>
    </div>
</div>
