<link rel="stylesheet" href="styles/video.css">
<div class="video-container">
    <iframe class="video" src="{{video_url}}&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="vid1"></iframe>
</div> 
<script src="https://player.vimeo.com/api/player.js"></script>