.container-cards {
    display: grid;
    place-content: center;
    column-gap: 50px;
    row-gap: 80px;
}

.professional-card {
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    border-radius: 2rem;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.container-card:hover > .professional-card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card-img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.card-text {
    font-size: 13px;
    color: white;
}

@media (max-width: 1024px) {
    .container-cards {
        grid-template-columns: 250px 250px 250px;
    }

    .mobile-nav {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .container-cards {
        grid-template-columns: 235px 235px 235px 235px 235px;
    }
}