.container-home-page {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#brand {
    color: #1723a4;
}

#brand-img {
    width: 200px;
    height: 50px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #212020;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container-page {
    margin-bottom: 5%;
    margin-left: 25%;
    max-width: 50%;
}

.location-container {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.location {
    margin-left: 2%;
    position: absolute;
    bottom: 0;
}

h1,p {
    color: #ff7f00;
}

.section-info {
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.section-info-text {
    margin-left: 20px;
    font-size: 35px;
    color: orange;
}

.section-info-separation {
    margin-top: 15px;
    border: none;
    background-color: orange;
    height: 4px;
}


@media (min-height: 1081px) {
    #brand-img {
        width: 300px;
        height: 75px;
    }
}