.container-home-page {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.hrefs-desktop {
    justify-content: end;
}

.hrefs-desktop a {
    width: fit-content;
}

.navbar-container {
    position: fixed;
    z-index: 100;
}

#brand {
    color: #1723a4;
}

#brand-img {
    width: 200px;
    height: 50px;
}

.navbar-nav {
    right: 0;
}

#nav-item-sc {
    color: #ffffff;
    margin-right: 10px;
    text-decoration: none;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #010001;
    padding: 15px;
    z-index: 100;
}

.nav-link {
    transition: all 0.2s;
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-item-rsp {
    font-size: 100%;
}

body {
    background-color: #212020;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container-page {
    margin-bottom: 5%;
    margin-left: 25%;
    max-width: 50%;
}

.row-owner {
    margin-top: 5%; 
    margin-bottom: 5%; 
    justify-content:center
}

.row-of-professionals {
    height: 22rem
}

.location-container {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.location {
    margin-left: 2%;
    position: absolute;
    bottom: 0;
}

h1,p {
    color: #ff7f00;
}

.section-info {
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.section-info-text {
    margin-left: 20px;
    font-size: 35px;
    color: orange;
}

.section-info-separation {
    margin-top: 15px;
    border: none;
    background-color: orange;
    height: 4px;
}

@media (max-width: 1024px) {
    .hrefs-desktop {
        display: none;
    }
}

@media (min-height: 1081px) {
    .nav-item-rsp {
        font-size: 30px;
    }

    #brand-img {
        width: 300px;
        height: 75px;
    }
}