.hamburger {
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    display: block;
    width: 50px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    z-index: 99;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger-div {
    align-items: center; 
    justify-content: end; 
    margin-top:10px; 
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 40%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    padding-top: 120px;
    background-color: black;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 60%;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgb(46, 46, 73);
    color: white;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: rgb(61, 61, 90);
}

.navbar-container {
    position: fixed;
    z-index: 100;
}

.hrefs-mobile {
    margin-top: 15px;
}

.hrefs-desktop {
    margin-top: 25px;
    justify-content: end;
}

.hrefs-desktop a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: fit-content;
}
    
.hrefs-desktop a:hover {
    color: blue;
}

@media (max-width: 1024px) {
    .hrefs-desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    .hrefs-mobile {
        display: none;
    }
}
